body[data-theme="dark"] {
    --scroolbar-color: #555;
    --mask-color: rgba(50, 50, 50, 0.5);

    --primary-shade0: #12baa6;
    --primary-shade1: #47c2af;
    --primary-shade2: #65cab9;
    --primary-shade3: #7ed2c3;
    --primary-shade4: #96dacd;
    --primary-shade5: #ace1d6;

    --secondary-shade0: #140e25;
    --secondary-shade1: #29253a;
    --secondary-shade2: #403c4f;
    --secondary-shade3: #595466;
    --secondary-shade4: #726e7e;
    --secondary-shade5: #8d8a96;

    --light-shade0: #111111;
    --light-shade1: #222222;
    --light-shade2: #333333;
    --light-shade3: #444444;
    --light-shade4: #555555;
    --light-shade5: #666666;

    --dark-shade0: #FFFFFF;
    --dark-shade1: #EEEEEE;
    --dark-shade2: #DDDDDD;
    --dark-shade3: #CCCCCC;
    --dark-shade4: #BBBBBB;
    --dark-shade5: #AAAAAA;

    --status-info: #4d8bc5;
    --status-info-light: #6de6fc;
    --status-info-dark: #1b2e83;
    --status-success: #12baa6;
    --status-success-light: #9bebc6;
    --status-success-dark: #005f54;
    --status-warning: #f39c12;
    --status-warning-light: #cab99e;
    --status-warning-dark: #865300;
    --status-error: #eb2d69;
    --status-error-light: #e1a6b9;
    --status-error-dark: rgb(85, 27, 48);
    --status-disabled: #555555;
    --status-disabled-light: #AAAAAA;
    --status-disabled-dark: #111111;
}