body[data-theme="light"] {
    --scroolbar-color: #555;
    --mask-color: rgba(50, 50, 50, 0.5);

    --primary-shade0: #008071;
    --primary-shade1: #258073;
    --primary-shade2: #378174;
    --primary-shade3: #448176;
    --primary-shade4: #508178;
    --primary-shade5: #5b8179;

    --secondary-shade0: #EEEEEE;
    --secondary-shade1: #DDDDDD;
    --secondary-shade2: #CCCCCC;
    --secondary-shade3: #BBBBBB;
    --secondary-shade4: #AAAAAA;
    --secondary-shade5: #999999;

    --light-shade0: #FFFFFF;
    --light-shade1: #EEEEEE;
    --light-shade2: #DDDDDD;
    --light-shade3: #CCCCCC;
    --light-shade4: #BBBBBB;
    --light-shade5: #AAAAAA;

    --dark-shade0: #111111;
    --dark-shade1: #222222;
    --dark-shade2: #333333;
    --dark-shade3: #444444;
    --dark-shade4: #555555;
    --dark-shade5: #666666;

    --status-success: #008071;
    --status-success-light: #7ba39b;
    --status-success-dark: #00493e;
    --status-warning: #f39c12;
    --status-warning-light: #cab99e;
    --status-warning-dark: #664b00;
    --status-error: #870b25;
    --status-error-light: #c58e9a;
    --status-error-dark: #310612;
    --status-info: #444444;
    --status-info-light: #AAAAAA;
    --status-info-dark: #111111;
}